@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');

html,body{
  background-color: white;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

main{
  background-image: url("/images/bg-main.svg");
  background-size: cover;
  min-height: 100vh;
  padding-top: 2.5rem;
}

.main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 1.25rem;
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

@media (max-width: 640px) {
  .main-section {
    margin-left: 0.5rem; 
    margin-right: 0.5rem;
  }
}

.page-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; 
  max-width: 56rem;
  text-align: center;
}

@media (max-width: 640px) {
  .page-heading {
    gap: 1rem; 
  }
}

h1 {
  font-size: 3rem; 
  line-height: 1.2; 
  font-weight: 600; 
  background: linear-gradient(to right, #ab8c95, #000000, #8e97c5);
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: transparent; 
  font-family: "Quattrocento", serif;
  letter-spacing: -0.02em; 
  margin: 0;
}

@media (max-width: 640px) {
  h1 {
    font-size: 3rem; 
  }
}

h2 {
  font-size: 1.875rem;
  color: #475467; 
  font-family: "Quattrocento", serif;
  margin: 0;
}

@media (max-width: 640px) {
  h2 {
    font-size: 1.25rem;
  }
}